<%- include("partials/header.ejs") -%>
<h1>Home</h1>

<p><%= startingContent %></p>

<%if (locals.posts.length > 0) {%>
        <%posts.forEach(function(post){%>
        <h1><%=post.title%></h1>
        <%if (post.content.length > 100){%>
                <p>
                <%=post.content.substring(0,100)+"..."%>
                <a href="/posts/<%=post._id%>">Read More</a>
                </p>
                
        <%} else {%>
                <p>
                <%=post.content%>
                <a href="/posts/<%=post._id%>">Read More</a>
                </p>
        <%}%>
<%})%>
<%}%> 
<%- include("partials/footer.ejs") -%>
